<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sharebiz | Kantoorruimte huren in Zoetermeer voor ondernemers</title>

<meta name="Description" content="Ruimte voor ondernemen" />
<meta name="Keywords" content="Zoetermeer, ondernemen, bedrijfsruimte, kantoorruimte, werkplek, kantoor, huren, sharebiz,
 businesscenter, bedrijfsverzamelgebouw, professioneel" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap-responisve.min.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="js/twitter.js"></script>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<script>
$(document).ready(function() {
$("#twitter").tweetrotator({ operator: "ShareBizNL", multiple_colors: false, tweetlimit: 10, autorotate: true, idletime: 5 });
});
</script> 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22682545-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<div id="topheader">
	<div class="container">
		<a href="index.html" id="logo">Sharebiz</a>	
		<a class="login" href="https://plus.google.com/107932172182985902110" target="_blank"><i class="icon-off"></i></a>
		<ul id="nav">
			<li><a href="index.html">Home</a></li>
			<li><a href="ondernemers.html">De Ondernemers</a></li>
			<li><a href="eigenschappen.html">Eigenschappen</a></li>
			<li><a href="prijzen.html">Prijzen</a></li>
			<li><a href="over.html">Over</a></li>
		</ul>	
	</div>
</div>

{{ content }}



<div class="footer">
	<div class="container">
		<div class="row">
			<p><a href="over.html">Neem contact op met Sharebiz</a> of bel 079-316 16 66</p>
			<div class="span6">
				<p class="copy">Copyright &copy;2011 Sharebiz. All Rights Reserved</p>
			</div>
			<div class="span6">
				<p class="link"><a href="http://www.gouwestadmm.nl" class="link">designed by <span>Gouwestad Marketing &amp; Media</span></a></p>
			</div>
		</div>
	</div>
</div>

	


<script  src="js/bootstrap.js"></script>

<script type="text/javascript">
$('#myModal').modal(
keyboard: true
)
</script>

<!-- Place this tag in your head or just before your close body tag. -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'nl'}
</script>

</body>
</html>